.menu .title {
	padding: 0 1% 0 3%;
	background: url(plus.png) left 1px no-repeat;
	background-size: 1em;
	font-weight: bold;
	cursor: pointer;
}

.menu .list {
	display: none;
	margin: 0;
}

.menu .list a {
	color: blue;
}

.menu.open .list {
	display: block;
}

.menu.open .title {
	background-image: url(minus.png);
}